<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-- Console logging -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %c{1} - %msg%n"/>
        </Console>

        <!-- File logging -->
        <RollingFile name="FileLogger"
                     fileName="target/logs/automation.log"
                     filePattern="target/logs/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %c{1} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Framework logs -->
        <Logger name="base" level="INFO"/>
        <Logger name="pages" level="INFO"/>
        <Logger name="hooks" level="INFO"/>
        <Logger name="stepdefinitions" level="INFO"/>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>
</Configuration>
